# Godot 4+ specific ignores
.godot/
/android/

# Trenchbroom autosave
maps/autosave/*

# Blender backup
*.blend1

# Krita backup files
*.kra~
*.png~

# LMMS backups
*.mmpz.bak

build/*

export_templates/*.tpz

automation/**/*.x86_64
automation/**/*.zip
automation/**/butler
automation/**/*.so
automation/**/*.tar.xz

blender


